@charset "UTF-8";

/* 메인슬라이더 */
#container .main_slider {
  height:600px;
  overflow:hidden;
  position:relative;
}


.main_slider .swiper-pagination {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-600px;
  transform:translateY(-50%);
  height:280px;
  overflow:auto;
  padding-right:50px;
}

.main_slider .swiper-pagination::-webkit-scrollbar { width:3px; background: #8a8a8a; }
.main_slider .swiper-pagination::-webkit-scrollbar-thumb { background: #000; border: 3px; }
.main_slider .swiper-pagination::-webkit-scrollbar-thumb:hover { background: #000; } 

.main_slider .swiper-pagination-bullet-active {
  background: none;
  font-weight: 700;
  color:#000;
}

.main_slider .swiper-pagination-bullet {
  background: none;
  width: auto;
  height: auto;
  display:block;
  border-radius:0;
  font-size:18px;
  margin-top:30px;
  opacity: 0.6;
}

.main_slider .swiper-pagination-bullet:first-child {
 margin-top:0;
}

/* 메인메뉴 */
.main_menu {
  height:520px;
  overflow:hidden;
}

.main_menu .main_tit {
  font-weight:700;
  font-size:40px;
}

.main_menu .inner {
  padding: 100px 0 50px;
  width:1200px;
  margin:0 auto;
  position:relative;
}

.main_menu .menu_slider {
  margin-top:50px;
}


.main_menu .menu_slider .btn_arrow {
  width: 50px;
  height: 50px;
  left: -150px;
  opacity: 1;
  margin-top: -50px;
  background: url(../images/icon_event_slider_arr.png)no-repeat;
}

.main_menu .menu_slider .swiper-button-next {
  left: auto;
  right: -150px;
  background: url(../images/icon_event_slider_arr.png)no-repeat;
  transform: rotateZ(180deg);
}

.swiper-container {
  position:static;
}


.main_menu .menu_slider .swiper-slide {
  text-align:center;
}

.main_menu .menu_slider strong {
  font-size: 22px;
  color: #555;
  font-weight: 400;
  margin: 3px 0 10px;
  display: block;
}

.main_menu .menu_slider p {
  font-size: 22px;
  font-weight: 700;
  color: #555;
}

.main_menu .menu_slider .img_wrap {
  margin: 0 auto;
  width:171px;
  height:171px;
}

.main_menu .menu_slider .swiper-slide img {
  width:100%;
}

/* 메인탭메뉴 */

.main_menu .tab_menu_wrap {
  position: relative;
}

.main_menu .tab_menu {
  position: absolute;
  right: 0;
  top: 30px;
}

.main_menu .tab_menu li {
  float: left;
  padding: 0 24px;
  position: relative;
}

.main_menu .tab_menu li + li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 1px;
  height: 15px;
  background: #ddd;
}

.main_menu .tab_menu li:last-child {
  padding-right: 0;
}

.main_menu .tab_menu a {
  color: #666;
  font-weight: 500;
}

.main_menu .tab_menu li.active a {
  color: #009223;
  font-weight: 700;
}

.main_menu .menu_slider_wrap {
  position: relative;
  height: 0;
  overflow: hidden;
}

.main_menu .menu_slider_wrap.active {
  height: auto;
  overflow: visible;
}




/* qna메뉴 */
.main_qna_menu {
  height:325px;
}

.main_qna_menu .qna_wrap {
  width:1200px;
  margin:0 auto;
  padding-top: 50px;
}

.main_qna_menu .service {
  float:right;
  width:594px;
  height:166px;
  background: #1B932A;
  position:relative;
}

.main_qna_menu .founded {
  float:left;
  width:594px;
  height:166px;
  background: #E30613;
  position:relative;
}

.main_qna_menu .service .service_img {
  position:absolute;
  top:34%;
  right:110px;
  width:60px;
  height:60px;
  background: url(../images/Layer\ 1.png)no-repeat;
}

.main_qna_menu .founded .founded_img {
  position:absolute;
  top:34%;
  right:110px;
  width:60px;
  height:60px;
  background: url(../images/Chat.png)no-repeat;
}

.main_qna_menu .txt_wrap {
  color:#fff;
  margin: 35px 0 0 60px;
  display:block;
}

.main_qna_menu strong {
  font-size:29px;
  font-weight:700;
}

/* sns메뉴 */
.sns_menu {
  height:696px;
}

.sns_menu .inner {
  width:1200px;
  margin: 0 auto;
  position:relative;
}

.sns_menu .sns_top {
  height:331px;
}
.sns_menu h1 {
  font-size: 40px;
  font-weight: 700;
}

.sns_menu p {
  margin-top:25px;
}

.sns_menu .img_wrap {
  margin-top:25px;
}

.sns_menu .sns_img {
  float:left;
  margin-right:20px;
  
}

.sns_menu .sns_img img {
  width:55px;
}


.sns_bottom {
  float:left;
}

.sns_menu .sns_content {
  float:left;
}

.sns_menu .sns_content a {
  display:inline-block;
  height: 291px;
  width:291px;
  margin-right:12px;
}

.sns_menu .sns_content:last-child a {
  margin-right:0;
}

.sns_menu .sns_content img {
  height:100%;
  width:100%;
}


.sns_menu .youtube_inner .iframe_wrap {
  position:absolute;
  right:0;
  top:0;
  width:594px;
}

.sns_menu .youtube_inner .iframe_wrap iframe {
  width:100%;
}

/* 이벤트페이지 */

.events {
  margin-top:100px;
}

.events .events_list li {
  max-width: calc((100% / 2) - 15px);
  float:left;
  position:relative;
}

.events .events_list li + li + li {
  margin-top:32px;
}

.events .events_list li:nth-child(even) {
  float:right;
}

.events .events_list li a {
  display:block;
  min-height: 100%;
  max-height: 288px;
  overflow:hidden;
}

.events .events_list li a img {
  width:100%;
  height:auto;
}

.events .events_list .list_tit {
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:80px;
  background: #EEE;
  color:#333;
}

.events .events_list .list_tit h3 {
  float:left;
  line-height:80px;
  margin-left:32px;
  font-size:17px;
  font-weight:900;
}

.events .events_list .list_tit p {
  float:right;
  line-height:80px;
  margin-right:32px;
  font-size:15px;
  font-weight:500;
}

/* 로그인 페이지 */
.signin_wrap {
  width:550px;
  border:1px solid #dfdfdf;
  margin:50px auto;
  padding-top:80px;
}

.signin_wrap h1 {
  text-align:center;
  font-size:40px;
  font-weight:500;
  letter-spacing: -0.07em;
  line-height:58px;
  color:#333;
}

.signin_wrap p {
  margin-top:20px;
  text-align:center;
  font-size:16px;
  font-weight:500;
  color:#9B9B9B;
  letter-spacing: -0.05em;
}

.signin_input {
  overflow: hidden;
  padding: 28px 48px 10px 48px;
  
}

.signin_input .input_set_wrap {
  padding: 1px;
}


.signin_input .input_set {
  overflow: hidden;
  position:relative;
  border: 1px solid #999999;
}

.signin_input .input_set:focus {
  border: 1px solid #009223;
}

.signin_input .input_set dt {
  float:left;
  width:100px;
  text-align:center;
  line-height:80px;
  position:relative;
}

.signin_input .input_set dl {
  overflow:hidden;
}

.signin_input .input_set dd {
  float:left;
  width:350px;
  position:relative;
  height:80px;
}

.signin_input .input_set dd input {
  border:none;
  width:300px;
  margin-top:22px;
  height:35px;
}

.signin_input .input_set dd input:focus {
  outline: 1px solid #009223;
}



.signin_input .input_set dt ~ dt:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #999999;
}

.signin_input .input_set dd ~ dd:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #999999;
}

.signin_wrap .checkbox_wrap {
  padding-left:48px;
  display:inline-block;
}

.signin_wrap .btn_login {
  margin:0 auto;
  width:450px;
  height:70px;
  background-color: #1B932A;
  color:#fff;
  position:relative;
  margin-top:40px;
  display:block;
  border:none;
}

.signin_wrap .btn_login span {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  font-size:16px;
  font-weight:500;
  color:#fff;
}

.signin_link {
  padding:40px 50px;
  overflow:hidden;
}

.signin_link li {
  float:left;
  width:150px;
  text-align:center;
  position:relative;
}

.signin_link li a {
  font-size:16px;
  color:#9B9B9B;
}

.signin_link li + li:before {
  content:'';
  position:absolute;
  left:0;
  top:6px;
  width:1px;
  height:16px;
  background-color:#dfdfdf;
}

/* 상품메뉴 */

